$card-button-width: 8rem;
$card-button-height: 10.7rem;
$card-button-font-weight: 600;
$card-button-font-size: 0.875rem;

$icon-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);
$icon-border-radius: 0.625rem;
$icon-width: 100%;
$icon-height: 70%;

.cardButton {
    display: inline-flex;
    width: $card-button-width;
    height: $card-button-height;
    background: white;
    flex-direction: column;
    align-items: center;
    border: none;
    font-weight: $card-button-font-weight;
    font-size: $card-button-font-size;

    &:hover {
        cursor: pointer;

        p,
        .icon {
            color: var(--DARK-BLUE-01);
        }
    }

    &:focus {
        p,
        .icon {
            color: var(--DARK-BLUE-01);
        }
    }

    .icon {
        display: inline-flex;
        width: $icon-width;
        height: $icon-height;
        align-items: center;
        justify-content: center;
        border-radius: $icon-border-radius;
        background: white;
        box-shadow: $icon-box-shadow;
    }

    p {
        color: var(--DARK-GRAY-01, #4E4E4E);
        position: relative;
        top: 1rem;
    }
}
