.container {
    display: inline-flex;
    gap: 7.75rem;
    padding: 2.5rem 5rem 2.5rem 5rem;
    padding-left: 5rem;
    width: 100%;
    height: 10.125rem;
    flex-shrink: 0;
    background: var(--Cores-principais-Violeta, #271C47);
    justify-content: center;

    .calling {

        h3 {
            width: 28.9375rem;
            color: #FFF;
            font-family: Outfit;
            font-size: 2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }
        
        h4 {
            width: 32.1875rem;
            color: #FFF;
            font-family: Poppins;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 200;
            line-height: 1.125rem;
        }
    }

    .userInfo {
        display: inline-flex;
        flex-wrap: wrap;
        padding: 0.5rem;
        gap: 0.5rem;
        width: 42rem;
        height: 4.44rem;

        .userInput{
            display: flex;
            width: 14.5rem;
            height: 2.63rem;
            padding: 0.75rem 1.5rem;
            align-items: center;
            gap: 0.625rem;
            border-radius: 0.5rem;
            border: 1px solid #E7E7E7;
            background: #FFF;
        }

        button {
            background-color: var(--YELLOW);
            height: 2.63rem;
            color: #161615;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 600;
            line-height: 0.75rem;
        }

        .checkbox {
            color: #FFF;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 300;
            line-height: 150%;
        }
    }
}