$container-width: 6.875rem;
$container-height: 2.25rem;
$container-border-radius: 0.25rem;
$container-border-style: 1px solid #D9D9D9;

$text-font-size: 1rem;
$text-line-height: 1rem;
$text-font-weight: 500;

.container {
    display: inline-flex;
    width: $container-width;
    height: $container-height;
    flex-shrink: 0;
    border-radius: $container-border-radius;
    border: $container-border-style;
    background: white;
    justify-content: center;

    p, button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: none;
        background: none;
    }
    
    p {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--BLACK, #271C47);
        font-size: $text-font-size;
        font-style: normal;
        font-weight: $text-font-weight;
        line-height: $text-line-height;
    }
}