$container-height: 16.6rem;
$container-padding: 2.625rem 5rem;

$social-gap: 1.5rem;
$social-width: 22.1rem;
$social-height: 9.94rem;

$about-width: 39.4rem;
$about-height: 7.25rem;

$black: var(--BLACK, #3F3F40);

$font-size-small: 0.875rem;

$hr-color: rgba(40, 40, 40, 0.18);
$hr-width: 12.375rem;


.container {
    display: inline-flex;
    width: 100%;
    height: $container-height;
    padding: $container-padding;
    align-items: center;

    .social {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        gap: $social-gap;
        background-color: white;
        width: $social-width;
        height: $social-height;

        p{
            color: $black;
            font-size: $font-size-small;
            font-style: normal;
            font-weight: var(--font-weight-thin);
            line-height: normal;
        }
    }

    .about {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        width: $about-width;
        height: $about-height;
    }

    .divider {
        border: $hr-color;
        width: $hr-width;
        transform: rotate(90deg);
    }
}