$color-primary: rgba(34, 34, 34, 0.71);
$font-family-primary: var(--secondary-font);
$font-size-title: 1rem;
$font-size-link: 0.8rem;
$font-weight-bold: 700;
$font-weight-regular: 400;
$line-height: 1rem;
$gap-container: 1.25rem;
$gap-links: 1rem;
$height-container: 7.25rem;

.container {
    display: inline-flex;
    flex-direction: column;
    gap: $gap-container;
    height: $height-container;

    .title {
        color: $color-primary;
        font-size: $font-size-title;
        font-weight: $font-weight-bold;
        line-height: $line-height;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: $gap-links;
        a {
            color: $color-primary;
            font-family: $font-family-primary;
            font-size: $font-size-link;
            font-weight: $font-weight-regular;
            line-height: $line-height;
        }
    }
}
