$hero-button-width: 12.875rem;
$hero-button-height: 3.125rem;
$modal-button-width: 1rem;
$modal-button-height: 1rem;
$button-padding: 0.4375rem 3.0625rem;
$button-gap: 0.625rem;
$button-bg-alt: var(--DARK-BLUE-01);
$button-color: #271C47;
$button-font-weight: 600;
$button-border-radius: 0.3125rem;
$button-bg: var(--Amarelo, #F7CA11);
$text-left: 5rem;
$button-text-pos: 6.5rem;
$dark-blue: var(--DARK-BLUE-01, #3019B2);
$yellow: var(--YELLOW);

.blockButton {
    display: flex;
    padding: $button-padding;
    justify-content: center;
    align-items: center;
    gap: $button-gap;
    flex-shrink: 0;
    position: relative;
    color: $button-color;
    font-weight: $button-font-weight;
    border: none;
    border-radius: $button-border-radius;
}