.button {
    background: none;
    border: none;

    &:hover {
        stroke: var(--DARK-BLUE-01);
        cursor: pointer;

        svg,
        svg clipPath,
        svg path {
            stroke: var(--DARK-BLUE-01);
        }
    }
}